@using OnlineShop.Models;
@model IEnumerable<ProductTypes>
@{
    ViewData["Title"] = "Index";
}
@using System.Net.Http
@using OnlineShop.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
    

}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product Type List</h2>
    </div>
    @if (userRole == "Admin") { 
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp;Add New Product Type</a>
        </div>
        }
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(c => c.ProductType)
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductType</td>
                <td>

                    <partial name="ButtonPartial" model="@item.Id" />
                </td>
            </tr>
        }
    </table>
</div>
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    @if (TempData["save"] != null)
    {
        <script type="text/javascript">
            $(function () {
                alertify.success('@TempData["save"]');
            });
        </script>
    }
    @if (TempData["edit"] != null)
    {
        <script type="text/javascript">
            $(function () {
                alertify.success('@TempData["edit"]');
            });
        </script>
    }
    @if (TempData["delete"] != null)
    {
        <script type="text/javascript">
            $(function () {
                alertify.success('@TempData["delete"]');
            });
        </script>
    }

}

