@using OnlineShop.Models;
@model IEnumerable<Products>
@{
    ViewData["Title"] = "Index";
}
@using System.Net.Http
@using OnlineShop.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
    
}

<br />
<br />
<style>
    body {
        background-image: url('..images/Bg 1.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: azure;
    }
</style>
<body>
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Product List</h2>
        </div>
        @if (userRole == "Admin")
        {
            <div class="col-6 text-right">
                <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Add New Product</a>
            </div>
        }

    </div>
    <form method="post">
        <div class="row">
            <div class="col-3">
                <input type="number" class="form-control" placeholder="Low amount" name="lowAmount" />
            </div>
            <div class="col-3">
                <input type="number" class="form-control" placeholder="Large amount" name="largeAmount" />
            </div>
            <div class="col-3">
                <input type="submit" value="Search by amount" class="btn btn-success" />
            </div>
            <div class="col-3"></div>
        </div>
    </form>
    <br />
    <div>
        <table class="table table-striped border" id="myTable">
            <thead>
                <tr class="table-info">
                    <th>
                        @Html.DisplayNameFor(c => c.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(c => c.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(c => c.ProductColor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(c => c.IsAvailable)
                    </th>
                    <th>
                        @Html.DisplayNameFor(c => c.ProductTypeId)
                    </th>

                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.ProductColor</td>
                        <td>@item.IsAvailable</td>
                        <td>@item.ProductTypes.ProductType</td>

                        <td>
                            <partial name="ButtonPartial" model="@item.Id" />
                        </td>
                    </tr>
                }
            </tbody>


        </table>
    </div>
    <div class="btn-group geek">
        <a href="https://localhost:44330/" class="btn  geeki">

            <link href="~/css/custom.css" rel="stylesheet" />
            <i>Go back to Homepage</i>
        </a>

    </div>
</body>
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>

    <script></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons:
                    [
                   'pageLength', {
            extend: 'copy',
            text: 'Copy'
        },
                     'csv', 'excel', {
                extend: 'pdfHtml5',
                title: 'Data export'
            }
                ]
            });
        } );
        $(function(){
            var save = '@TempData["save"]'
            if(save!='') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if(edit!='') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del!='') {
                alertify.error(del);
            }
        })
    </script>
}




